@use "../base/vars" as *;
@use "../base/mixins" as *;
@use "../base/typography" as *;

// General --------------------------------------------------------------------------------------------------------------
body{
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

.site{
	padding: 2rem;
	max-width: 800px;
	margin: 0 auto;

	@include is-max-tablet{
		padding: .2rem 1.2rem;
	}
}

.content{
	width: 100%;
}

// Navigation --------------------------------------------------------------------------------------------------------------

.logo {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin: 0;
	font-family: 'Bluu Next', sans-serif;
	font-size: 1.4rem;
	color: var(--text-primary);
	text-decoration: none;
}
.logo:hover {
	opacity: 0.8;
}

.nav-link {
	color: var(--color-foreground);
	text-decoration: none;
	padding: 0.3rem .6rem;
	border: 1px dotted var(--color-foreground);
	transition: background-color 0.05s;
}
.nav-link:hover {
	// background-color: #DAD1C1;
	border: 1px solid var(--color-foreground);
}