---
// Homepage layout

import Layout from '../layouts/Layout.astro';
import BlogCard from '../components/BlogCard.astro';
import Button from '../components/Button.astro';
import { getCollection, getEntry } from 'astro:content';

const home = await getEntry('page', 'home');
const posts = await getCollection('writing');
const { Content } = await home.render();
---

<Layout title="Snorri of the Stars">
	<main class="site">
		<h1 class="logo">Snorri of the Stars</h1>
		<h2 class="hidden">Queer astrologer in Montreal</h2>

		<h3>Coming soon</h3>
		<p>૮꒰˶ᵔ ᵕ ᵔ˶꒱ა</p>
		
	</main>
</Layout>

<style>
	.site{
		height: 95vh;
		max-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		overflow: hidden;
		max-width: 100%;
	}
	.hidden{
		height: 0;
		position: absolute;

	}

	.logo{
		font-size: 9vw;
	}

</style>