// Colors ----------------------------------------------------------------------
:root {
	--color-dark-primary: #3D2B20;
	--color-dark-secondary: #57483F;
	--color-light-primary: #E2DED7;
	--color-light-secondary: #FFFFFF;
	--color-accent-1: #CAD279;
	--color-accent-2: #E4C581;
	--color-accent-3: #D4C6CD;

	--color-background: var(--color-light-primary);
	--color-foreground: var(--color-dark-primary);
}

// Text ------------------------------------------------------------------------
:root {
	--text-size: 16px;
	--text-lineheight : 140%;
}

// Media -----------------------------------------------------------------------
:root {
	--media-mini   : 360px;   // m
	--media-phone  : 640px;   // sm
	--media-tablet : 868px;   // md (original: 768px)
	--media-laptop : 1180px;  // xl (original: 1024px)
	--media-desktop: 1440px;  // xl
}